@charset "UTF-8";

.q7_flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.q7_icon {
margin-bottom: 35px;
}
.balloon2-left {
  position: relative;
  display: inline-block;
  margin: 35px;
  padding: 20px;
  width: 550px;
  font-size: 16px;
  border: solid 5px #222;
  box-sizing: border-box;
  border-radius: 30px;
}

.balloon2-left:before, .balloon2-left:after {
  content: "";
  position: absolute;
  top: 75%;
  border: solid 25px transparent;
  margin-top: -30px;
  border-right: 25px solid;
}

.balloon2-left:before {
  left: -50px;
  border-right-color: #222;
}

.balloon2-left:after {
  left: -43px;
  border-right-color: #fff;
}

