@charset "UTF-8";
.q2_table {
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
}

.q2_table th {
  background-color: #2244aa;
  font-size: 18px;
  color: #fff;
  line-height: 26px;
  border: solid 1px #dedede;
  padding: 10px;
}

.q2_table tbody th {
  background-color: #2244aa;
  font-size: 18px;
  color: #fff;
  line-height: 26px;
  border: solid 1px #dedede;
  padding: 10px;
}

.q2_table tbody tr {
  background-color: #ecf1f2;
  text-align:center
}

.q2_table tbody tr:first-child {
  font-size: 18px;
  line-height: 26px;
}

.q2_table tbody tr:nth-child(odd){
  background-color: #fff;
}

.q2_table tbody td {
  font-size: 16px;
  padding: 10px;
  line-height: 22px;
  border: solid 1px #dedede;
}

.q2_table tbody td:first-child {
  background-color: #2244aa;
}

.q2_table tbody tr:last-child {
  border-top: 2px dashed #000;
}
/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください */